.fullWidthImage {
  background-image: url(../images/manga\ edits.jpeg);
  background-position: center;
  background-size: cover;

  width: 100;
  height: 80vh;
  margin-inline: -120px;
  padding-inline: 120px;
}
