.imageGallerySection {
  background-color: #252422;
  margin: 0 -120px;
  padding: 6rem 120px;
}

header {
  text-align: center;
  font-size: 1.5rem;
  margin-block: 0 5rem;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  transition: 1.25s;
}

.imgs {
  max-width: 20%;
  min-width: 10rem;
  object-fit: cover;
  object-position: center;

  height: 20rem;

  transition: 1.25s;
}

.image1 {
  transform: translateX(-160%) translateY(-50%);
  z-index: 8;
}
.image2 {
  transform: translateX(-54%) translateY(-50%);
  z-index: 7;
}
.image3 {
  transform: translateX(52.7%) translateY(-50%);
  z-index: 6;
}
.image4 {
  transform: translateX(159%) translateY(-50%);
  z-index: 5;
}

.image5 {
  transform: translateX(-160%) translateY(55%);
  z-index: 4;
}
.image6 {
  transform: translateX(-54%) translateY(55%);
  z-index: 3;
}
.image7 {
  transform: translateX(52.7%) translateY(55%);
  z-index: 2;
}
.image8 {
  z-index: 1;
  transform: translateX(159%) translateY(55%);
}
