.imageGallerySection {
  background-color: #252422;
  margin: 0 -120px;
  padding: 6rem 120px;
}

header {
  text-align: center;
  font-size: 1.5rem;
  margin-block: 2rem;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  background-color: #adb5bd;
  border: 1px none solid;
  border-radius: 0.5rem;
  padding: 1.5rem 0.5rem;
  height: 70vh;
  overflow: auto;
}

.imageGallery img {
  max-width: 30%;
  min-width: 10rem;
  object-fit: cover;
  object-position: center;
}
